
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-home home-icon"></i>
					<a href="~/Home/Index">Home</a>
                    <li class="active">Setting</li>
				</li>
			</ul><!-- /.breadcrumb -->
		</div>
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="page-header">
            <h1>
			    Change Password
			    <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Set your New Password             												
			    </small>
			</h1>
        </div>
        <div>
	        <div class="widget-body">
		        <div class="widget-main">
				<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<form class="form-horizontal" role="form">
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> New Password </label>

										<div class="col-sm-9">
											<input type="password" id="form-field-2"  class="col-xs-10 col-sm-5">
										</div>
									</div>
                                    <div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Confirm Password </label>

										<div class="col-sm-9">
											<input type="password" id="form-field-1" class="col-xs-10 col-sm-5">
										</div>
									</div>
                                    <div class="col-md-offset-5 col-md-9">
											<button class="btn btn-info" type="button">
												<i class="ace-icon fa fa-check bigger-110"></i>
												Save
											</button>
										</div>
								</form>

								</div>

								</div>
		        </div><!-- /.widget-main -->
	        </div><!-- /.widget-body -->
        </div>
            </div>
    </div>
</div>